<!DOCTYPE html>
    <html>
        <head>
            <h1>Clicker</h1>
        </head>
        <body>
                <% @students.each do |student| %>
                    <p><%= link_to student.student, :controller => "student", :action => "view_score", :quiz => @quizId, :id => student.id %></p>
                <% end %>
                <p></p>
                <p><%= link_to 'back', :controller => "student", :action => "index" %></p>
        </body>
    </html