<!DOCTYPE html>
    <html>
        <head>
            <h1>Clicker</h1>
        </head>
        <body>
            <p><%= link_to @teacher, :controller => "quizzes", :action => "index" %></p>
            <p><%= link_to @student, :controller => "student", :action => "index" %></p>
        </body>
    </html
    